<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table">
  <thead>
    <tr>
      <th scoope='col'>Name</th>
      <th scoope="col">Empleados</th>
      <th scoope="col">Mostrar</th>
      <th scoope="col">Editar</th>
      <th scoope="col">Eliminar</th>

    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>

        <td><%= link_to company.name, company, class: 'display-4' %></td>
        <td class="display-4"><%= company.employees.count %></td>
        <td><%= link_to 'Show', company, class: "btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_company_path(company), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
