<p id="notice"><%= notice %></p>

<h1 class="card"><%= @company.name %></h1>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<%= form_with(model: [ @company, @employee ]) do |form| %>
  <%= form.label :first_name, 'Nombre' %>
  <%= form.text_field :first_name %>
  <%= form.label :last_name, 'Apellido' %>
  <%= form.text_field :last_name %>
  <%= form.label :email, 'Email' %>
  <%= form.text_field :email %>
<% end %>
